body {
     font-family: "Merriweather", serif;
}

.nav-bar {
  background-color: #fff6ec;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  text-decoration: none;
}



.nav-link {
  text-decoration: none;
  color: #4a2f1b;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  background-color: #fce5c1;
  text-decoration: none;
}


